.btn {
  width: 150px;
  height: 40px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #000;
  border: 1px solid #007aff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.btn-small {
  height: 40px;
  width: 40px;
  padding: 10px 10px;
}

.btn:disabled:hover {
  cursor: not-allowed;
  background: linear-gradient(45deg, #000, gray);
}

.btn:hover {
  background: linear-gradient(45deg, #007aff, blue);
  animation: hue-rotate 0.5s linear infinite alternate;
}
